.curtain {
  position: relative;
}

.curtain__panel {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #070063;
  width: 50%;
  min-height: 100vh;
  transition: transform 0.2s ease-out;
  z-index: 2;
}

.curtain__panel--left {
  left: 0;
  transform: translateX(calc(-100% - 1px));
}

.curtain__panel--right {
  right: 0;
  transform: translateX(calc(100% + 1px));
}

.curtain__wrapper {
  position: relative;
  width: 75%;
  margin: 0 auto;

}

.curtain__content {
  background-color: white;
}

.slide-in {
  transform: translateX(0) !important;
}
