.curtain-content {
  position: absolute;
  background-color: white;
  width: 75%;
  min-height: 100vh;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.curtain__panel {
  position: fixed;
  background: #630000;
  float: left;
  position: relative;
  width: 50%;
  min-height: 100vh;
  transition: all 0.2s ease-out;
  z-index: 100;
}

.curtain__panel--left {
  justify-content: flex-end;
  transform: translateX(calc(-76%));
}

.curtain__panel--right {
  justify-content: flex-start;
  transform: translateX(calc(76%));
}

.slide-in {
  transform: translateX(0) !important;
}