.place-time {
    background-color: #630000;
    color: white;

    margin: 6px;
    border-radius: 8px;
}

.auditorium {
    font-size: 18px;
}

.time {
    font-size: 34px;
    font-weight: bold;

    margin-top: -22px;
}