.home-header {
    background-color: #dddddd;
    width: 100%;
    min-height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector-wrapper {
    display: flex;
    gap: 3vw;
}

.selector .MuiInputBase-root {
    min-width: 20vw;
}

.selector .MuiInputLabel-root {
    color: #131313;
}

.selector .MuiSvgIcon-root {
    color: #131313;
}

.selector .MuiMenuItem-root {
    color: #131313;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.selector .MuiMenuItem-root.Mui-selected,
.chip {
    background-color: #640000;
    color: white;
}

.selector .MuiMenuItem-root:hover,
.selector .MuiMenuItem-root.Mui-selected:hover {
    background-color: #b61919;
    color: white;
}

.selector .MuiMenuItem-root.Mui-focusVisible {
    background-color: inherit;
    color: inherit;
}

.selector .MuiMenuItem-root.Mui-selected.Mui-focusVisible {
    background-color: #640000;
    color: white;
}
