.ticket-list {
    width: 90%;

    margin: auto;

    padding-left: 16px;
    padding-right: 16px;
  }
  
  .summary {
    padding: 16px;
    margin-top: 16px;
  }
  
  .ticket-count {
    display: flex;
    justify-content: space-between;
  }

  .next-button {
    background-color: #c02d2d;
    height: 50px;
    margin-top: 16px;
  }
  