.header {
  background-color: rgb(19, 19, 19);
  padding: 1rem;
  width: 100vw;
  height: 52px;
  z-index: 3;
}

.header-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-top: -25px;
  cursor: pointer;
  width: 100px;
}

.header-profile {
  margin-right: calc(1.5% + 2rem);
}