.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screenings {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
}
