.place-time {
    background-color: #630000;
    color: white;

    min-width: 10rem;

    border-radius: 8px;
    transition: background-color 0.3s;
}

.place-time--clickable:hover {
    background-color: #b61919;
}

.date {
    font-size: 18px;
    font-weight: 500;

    margin-bottom: -10px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.date--clickable {
    background-color: rgb(19,19,19);
}
.place-time:hover .date--clickable {
    background-color: rgb(40,40,40);;
}

.auditorium {
    font-size: 18px;
    margin-top: -36px;
    margin-bottom: -44px;
    font-weight: 500;
}

.time {
    font-size: 34px;
    font-weight: bold;
    margin-top: 8px;
}

